<div id="section_nav">
  <ul>
    <li class="movies"><a href="{% url 'movie_list' %}">Movies</a>
      <ul>
        <li class="genres"><a href="{% url 'movie_genre_list' %}">Genres</a></li>
      <li class="studios"><a href="{% url 'movie_studio_list' %}">Studios</a></li>
      </ul>
    </li>
  </ul>
</div>